/* h1 {
font-size: 28px;
} */

/* main {
    padding-top: 10%;
    padding-bottom: 50px;

} */


/*  START HERE FOR PRODUCTS  */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

html {
    width: 100vw;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(231, 233, 235);
    font-family: sans-serif;
    font-size: 17px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    /* padding-top: 10%; */
    padding-bottom: 50px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    row-gap: 150px;
    height: 100%;
    padding-top: 10%;
  /* top: 50%;
  width: 50%; 
  margin: 0 auto;
  align-items: center;
  justify-content: center; */
}

.product { 
    display: grid;
    padding: 2em; 
    margin: 16px; 
    text-align: center; 
    border: solid 1.5px #fff;
    margin: 0 auto;
    box-sizing: border-box;
}

.product:hover {
    border: solid 1px rgb(126, 102, 97);
}

.product img {
    -webkit-filter: grayscale(70%);
    width: 310px;
    height: 460px;
    width: 91%;
    /* max-width: 100%; */
    border: solid 1.5px #fff;
    background-color: #c0bdbd;
    padding:20px;
    margin-bottom: 0.9em; 
}

.product img:hover {

    -webkit-filter: grayscale(40%);
}

.product h6 {
    margin: 0; 
    color: #281a12;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: bolder; 
}

.product p { 
    margin: 0;
    color:#564f4b; 
    font-size: 0.78em; 
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.product p:nth-child(4) { 
    margin: 0;
    color:#281a12;
    font-size: 0.95em; 
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

