.filter-container {
    border-radius: .4rem;
    color: rgb(11, 11, 11);
    position: relative;
    width: 40rem;
    font-weight: bold;
    background-color: white;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform .4s cubic-bezier(.28,.25,.36,1.28);
    padding: 1.8rem 2.4rem;
    cursor: pointer;
    /* box-shadow: 0rem 0rem 3rem darken($background-color, 5%); */
    margin-top: 8vh; 
    transform: translateY(-50%);
  }
  
  label {
    margin-right: 10px;
    font-size: 14px;
  }
  
  select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select:focus {
    outline: none;
    border-color: #221709; /* Adjust the color as needed */
    box-shadow: 0 0 5px rgba(108, 69, 13, 0.5); /* Adjust the shadow as needed */
  }